@font-face {
  font-family: 'iconfont';  /* project id 413196 */
  src: url('//at.alicdn.com/t/font_413196_2t0t2es55g5h4cxr.eot');
  src: url('//at.alicdn.com/t/font_413196_2t0t2es55g5h4cxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_413196_2t0t2es55g5h4cxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_413196_2t0t2es55g5h4cxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_413196_2t0t2es55g5h4cxr.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'DemiLight';
  src: url("/src/static/fonts/NotoSansHans-DemiLight.otf");
}

@font-face {
  font-family: 'Bold';
  src: url("/src/static/fonts/NotoSansHans-Bold.otf");
}

html {
  font-size: 10px; // 设置全局参考字体大小
  font-family: DemiLight;
}

body {
  padding: 0;
  margin: 0;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

.anchorBL {
  display: none;
}
/** 滚动条样式 **/


/** CSS标准 **/

// 浮沉/弹出框样式
.popup {
  border-radius: 4px;
  opacity: 1;
  background-color: white;
  box-shadow: 0 5px 11px rgba(85, 85, 85, .1);
}

// 按钮标准
//- 普通按钮

.btn {
  font-size: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.disable-btn {
  background-color: #cccccc;
  color: #A5a5a5;
}

//- 蓝底按钮
.btn-w {
  background-color: white;
  color: #A5a5a5;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .6);
}

.btn-w:hover, .btn-b:hover {
  background-color: rgba(60, 120, 255, .7);
  color: white;
}

.btn-w:active, .btn-b:active {
  background-color: #336BEA;
  color: white;
}

//- 白底按钮
.btn-b {
  background-color: #3c78ff;
  box-shadow: 1px 2px 6px rgba(60, 120, 255, .6);
}

//- 取消按钮
.btn-cancel {
  border: 1px solid #605E7C;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.btn-cancel:hover {
  background-color: rgba(96, 94, 124, .2);
}

.btn-cancel:active {
  background-color: rgba(96, 94, 124, .4);
}

.btn-cancel:hover {
  background-color: #cccccc;
}
