@font-face {
  font-family: 'iconfont';  /* project id 413196 */
  src: url('//at.alicdn.com/t/font_413196_z6nbbwnckfvquxr.eot');
  src: url('//at.alicdn.com/t/font_413196_z6nbbwnckfvquxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_413196_z6nbbwnckfvquxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_413196_z6nbbwnckfvquxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_413196_z6nbbwnckfvquxr.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'DemiLight';
  src: url("/src/static/fonts/NotoSansHans-DemiLight.otf");
}
@font-face {
  font-family: 'Bold';
  src: url("/src/static/fonts/NotoSansHans-Bold.otf");
}
html{
  font-size: 10px;   // 设置全局参考字体大小
}
body{
  padding: 0;
  margin: 0;
}
html,body,#app{
  width: 100%;
  height: 100%;
}

.anchorBL{
  display: none;
}