.tool {
  flex: 1;
  display:flex;
  flex-flow: column nowrap;
  align-items: left;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  >a{
    padding-left: 14px;
    font-size: 1rem;
    height: 40px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
    width: 100%;
    &:hover{
      color: #3c78ff;
      background-color: rgba(229, 229, 229, .2);
    }
    >span{
          font-family: iconfont;
          font-size: 1.8rem;
          margin-right: 5px;
    }
  }
}