/**
* CSS 的样式规范
* cetn-  此前缀是功能性样式命名头
* spae-  此前缀是组件样式命名头
* 备注： 以上两种头部勿混用
* @author allan 2017/12/28
*/


/**
* 文本格式
*/

/**
* 字体大小
* cetn-fs-default 是全局默认的字体大小
* note：以下为常用字体大小，尽量使用以下类名字，来定义大小，如果为找到的字体大小由自己声明
*/
.cetn-fs-default{
  font-size: 1.2rem;
}
.cetn-fs-14{
  font-size: 1.4rem;
}
.cetn-fs-16{
  font-size: 1.6rem;
}
.cetn-fs-18{
  font-size: 1.8rem;
}

/**
* 字体颜色
* cetn-color-default 是全局默认的字体颜色
* note：以下为常用颜色，尽量使用以下类名字，来定义颜色，如果为找到的颜色由自己声明
*/
.cetn-color-default{
  color: rgba(96, 94, 124, 1);
}
.cetn-color-d6{
  color: rgba(96, 94, 124, .6);
}
.cetn-color-d8{
  color: rgba(96, 94, 124, .8);
}
 .cetn-color-b{
   color: rgba(60,120,225,1);
 }

/**
* 字体间距
* 默认是默认字体间距
* note：*
*/

.cetn-ls-03{
  letter-spacing:0.5px;
}
.cetn-ls-05{
  letter-spacing:0.5px;
}
.cetn-ls-06{
  letter-spacing:0.5px;
}

/**
* 通用小按钮
* note：*
*/
.cetn-btn{

}