@font-face {
  font-family: 'iconfont';  /* project id 129360 */
  src: url('//at.alicdn.com/t/font_129360_21woseflipl7syvi.eot');
  src: url('//at.alicdn.com/t/font_129360_21woseflipl7syvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_129360_21woseflipl7syvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_129360_21woseflipl7syvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_129360_21woseflipl7syvi.svg#iconfont') format('svg');
}
body{
  font-size: 10px;
}